/* css styles */
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Plus+Jakarta+Sans:wght@400;500&display=swap');

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cardo', serif;
  color: #2E5266;
}

a {
  color: #58A1EB;
}
a:hover {
  color: #2E5266;
  text-decoration: underline;
}

.navbar, .navbar-light {
  background-color: #58A1EB;
}
.navbar a {
  color: #ffffff !important;
}
.navbar svg {
  color: #ffffff !important;
}